body{
    
}

h1{ /*type selector centers all h1 elements*/
    text-align: center;
}

a[title]{ /* title in brackets tells css to apply this style to 
        anchor tags with the title attribute */
    color: #FF9800;
}

/* use all of the selectors */

a:hover{
    color: red;
}

/*if url ends in .gov make the link green*/
a[href$=".gov"]{
    color: green;
}

.nyt{ /*.nyt selects the "nyt" class*/
    background-color: aqua;
    color: white;
}

.fireship{
    color: purple;
}
 /*this selector changes the fireship class to have a blue background on hover which also makes the text red on dark mode*/
.fireship > a:hover{
    background-color: blue;
}

#important{ /*sets any line with the "important" id to uppercase letters, 
        this should probably be a class but for this assignment it's an id*/
    text-transform: uppercase;
}

*{ /*universal selector sets background color of everything to black*/
    background-color: black;    
}