*{ /*universal selector sets padding to 1%*/
    padding: 1%;    
}

body{
    background-color: black;
}

nav{
    position: sticky;
    top: -1px;
    background-color: black;
    z-index: auto;
}

h1{ /*type selector centers all h1 elements*/
    text-align: center;
}

hr{
    padding: 0;
}

a[title ="amazon_shop"]{ /* title in brackets tells css to apply this style to 
        anchor tags with the amazon_shop title */
    color: #FF9800;
}


a:hover{
    color: red;
}

/*if url ends in .gov make the link green*/
a[href$=".gov"]{
    color: green;
}

.nyt{ /*.nyt selects the "nyt" class*/
    background-color: #F8FCDA;
    color: #B1F8F2;
}

.fireship{
    color: purple;
}

.important{ /*id selector selects "important" id to uppercase letters, 
        this should probably be a class but for this assignment it's an id*/
    text-transform: uppercase;
}

article > p{ /*child combinator sets all paragraphs within 
        an article to have white text with an aqua background and aligns them to the left while leaving the h2 as is*/
    text-align: left;
    background-color: aqua;
    color: white;
}

ul li{ /*descendent selector makes li in a ul have a background and text color*/
    background-color: #B1F8F2;
    color: #FFFC99;
}

ul{
    text-align: left;
}   & .important{
    text-decoration: underline;
    z-index: 4;
}

@namespace cssNameSpace url("https://developer.mozilla.org/en-US/docs/Web/CSS");
a{ /*only anchors with the cssNameSpace url have color changed to khaki however 
        they still inherit the :hover color from the above anchor styling*/
    color: khaki;
}